<!DOCTYPE html>


<html>

    <head>
        <title> naver-hack-day KEYWORD ANALYSIS </title>
        <% include ../common/header.ejs %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Custom CSS -->
        <link rel='stylesheet' href='/css/naver/index.css' />  
        <link rel='stylesheet' href='/css/logic/navbar.css' /> 
        
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="/javascripts/naver/d3.layout.cloud.js"></script>
         
       

    </head>

    <body>
    <% include ./navbar.ejs %>
    <div class="row" id = "place_1">

    </div>
    <div class="row" id = "place_2">

    </div>
    <div class="row" id = "word_cloud">

    </div>
    <div class="row" id = "vector_cloud">

    </div> 


    

    </body>
   

    <script src="/javascripts/naver/index.js"></script>
</html>