  
  

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- container > #1 -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/multi_point_map">키워드 분석 시스템</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- container > #2 -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="nav-menu-li">
                    <a class="page-scroll nav-menu" href="#" onclick="run_TF_IDF('SNU')"> 서울대학교 </a>
                </li>
                <li class="nav-menu-li">
                    <a class="page-scroll nav-menu" href="#" onclick="run_TF_IDF('CAU')"> 중앙대학교 </a>
                </li>
                <li class="nav-menu-li">
                    <a class="page-scroll nav-menu" href="#" onclick="run_TF_IDF('KHU')"> 경희대학교 </a>
                </li>
              
            </ul>
            

        </div>
        <!-- /.navbar-collapse -->


    </div>
    <!-- /.container -->
</nav>


